<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="customerAccount" class="com.global.hr.springdayone.CustomerAccount">
        <property name="accountId" value="12345"/>
        <property name="customerName" value="John Doe" />
    </bean>


        <bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor"/>
<!--        <bean class="com.global.hr.springdayone.CustomerAccount"/>-->


    <bean id="balanceService" class="com.global.hr.springdayone.bank.BalanceService">
        <constructor-arg value="1000.0"/>
    </bean>

    <bean id="withdrawalService" class="com.global.hr.springdayone.bank.WithdrawalService">
        <constructor-arg ref="balanceService"/>
    </bean>

    <bean id="employeeService" class="com.global.hr.springdayone.employee.EmployeeService"/>


</beans>